frontend/node_modules
frontend/layout.txt
frontend/package-lock.json
frontend/layout.txt

*/__pycache__
backend/*/__pycache__
backend/.venv
backend/layout
backend/instance/*
backend/layout.txt

.DS_Store